.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 3px;
  box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.3);
  background: #2f4558;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.container-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 330px;
  height: 310px;
  transform: translate(-50%, -50%);
  overflow: hidden; }

.container-slider {
  position: relative;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 300px;
  background: #fff;
  transform: translate(-50%, -50%);
  box-shadow: 8px 8px 10px 0 rgba(0, 0, 0, 0.4);
  transition: all 1s linear; }

.side-bar-container {
  position: relative;
  top: 20%;
  left: 18%;
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
  background-color: #596773; }
  .side-bar-container .side-bar-item {
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom: 15px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #909090;
    line-height: 1.5;
    transition: all .3s linear; }
    .side-bar-container .side-bar-item:hover {
      color: #fff;
      background-color: #4e5b66;
      cursor: pointer; }
  .side-bar-container .fa {
    padding-right: 10px; }

.header {
  font-family: 'Lato', sans-serif;
  background-color: #a0ccdf;
  padding-top: 10px;
  padding-bottom: 10px; }
  .header span {
    display: inline-block;
    width: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center; }
  .header input[type="text"] {
    position: absolute;
    width: 200px;
    border-radius: 30px;
    opacity: 0;
    padding: 5px 10px;
    margin-left: 30px;
    outline: 0; }
  .header .header-list {
    box-sizing: border-box;
    padding-left: 10px;
    text-align: left;
    transition: all .3s linear;
    cursor: pointer; }
    .header .header-list:hover {
      color: #fff; }
  .header .header-title {
    text-align: center;
    color: #fff; }
  .header .header-search {
    box-sizing: border-box;
    padding-right: 10px;
    text-align: right;
    cursor: pointer;
    transition: all .3s linear; }
    .header .header-search:hover {
      color: #fff; }

.main-content {
  font-family: 'Lato', sans-serif;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px; }
  .main-content .list-container {
    height: 83px;
    padding-left: 20px;
    transition: all .3s linear; }
    .main-content .list-container:before {
      position: relative;
      display: block;
      left: 7px;
      content: "";
      border-left: 3px solid rgba(0, 0, 0, 0.3);
      height: 20px; }
    .main-content .list-container:after {
      position: relative;
      display: block;
      top: -39px;
      left: 7px;
      content: "";
      border-left: 3px solid rgba(0, 0, 0, 0.3);
      height: 42px; }
    .main-content .list-container:hover {
      cursor: pointer;
      color: #a0ccdf; }
  .main-content .list-container:nth-child(3):after {
    top: -19px; }
  .main-content .list-time .fa {
    color: #a0ccdf;
    padding-right: 5px; }
  .main-content .list-item {
    padding-left: 20px; }
  .main-content span {
    font-weight: 700; }

.slide-extend {
  animation: slides 1s linear forwards; }

@keyframes slides {
  0% {
    transform: translate(-50%, -50%); }
  100% {
    transform: translate(10%, -50%);
    box-shadow: 0px 0px 0 0 transparent; } }

.slide-retract {
  animation: slides-rev 1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards; }

@keyframes slides-rev {
  0% {
    transform: translate(10%, -50%);
    box-shadow: 0px 0px 0 0 transparent; }
  50% {
    box-shadow: 0px 0px 0 0 transparent; }
  100% {
    transform: translate(-50%, -50%); } }

.side-container-extend {
  animation: side-extend 1s linear forwards; }

@keyframes side-extend {
  0% {
    transform: translateX(0);
    z-index: 0; }
  95% {
    z-index: 0; }
  100% {
    transform: translateX(-20%);
    z-index: 1; } }

.side-container-retract {
  animation: side-retract .3s linear forwards; }

@keyframes side-retract {
  0% {
    transform: translateX(-10%);
    z-index: 0; }
  100% {
    transform: translateX(0);
    z-index: 0; } }

.search-extend {
  animation: extend-search .3s linear forwards; }

@keyframes extend-search {
  0% {
    transform: translateX(0);
    opacity: 0; }
  100% {
    transform: translateX(-12%);
    opacity: 1; } }

.search-retract {
  animation: side-retract 1s linear forwards; }

@keyframes side-retract {
  0% {
    transform: translateX(-12%);
    opacity: 1; }
  100% {
    transform: translateX(0);
    opacity: 0; } }
